.single-page-photo {
  padding: 0 0 0 20px;
  position: relative;
  .fa-arrow-alt-circle-left {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgb(48, 48, 48);
    transition: 0.2s;
    color: black;
    &:hover {
      text-shadow: none;
    }
  }
  .img-wrapper {
    width: 250px;
    position: relative;
    img {
      width: 100%;
    }
    .fa-star {
      position: absolute;
      top: 7px;
      right: 7px;
      font-size: 20px;
      color: white;
      cursor: pointer;
      transition: 0.2s;
      text-shadow: 0 0 2px black;
    }
    .active {
      color: rgb(255, 230, 0);
    }
  }
}